@import '/src/variables/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap');



body {
    background-color: $body-color;
    padding: 1rem;
    box-sizing: border-box;

    #top-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;

        #logo-top {
            width: 10rem;
        }
        
        button {
            border: none;
            background-color: rgb(255, 255, 255, 0);
        }
    }

  // === MOBILE NAV AND CLOSE ICON INITIALLY HIDDEN === //  

    #icon-close {
        display: none;
    }
    #nav-mobile {
        display: none;
    }

    // === HERO SECTION === //

    #hero-section {
        border-radius: 10px;
        background-image: url('/assets/home/mobile/image-hero-coffeepress.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        text-align: center;
        padding: 3rem 1rem;
        margin-bottom: 5rem;

        h1 {
            color: white;
            font-family: 'Fraunces', serif;
            font-size: 2.5rem;
            margin-bottom: 1.5rem;
        }

        p {
            color: $paragraph-color;
            font-family: 'Barlow', sans-serif;
            line-height: 25px;
            margin-bottom: 2.5rem;
            opacity: 0.8;

        }

        #create-your-plan-button-top {
            border: none;
            border-radius: 6px;
            width: 13.5rem;
            height: 3.2rem;
            font-family: 'Fraunces', serif;
            color: $paragraph-color;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 3rem;
            background-color: $create-your-plan-button-color;



        }
    }

// === COLLECTION SECTION === //
#collection-section {
    text-align: center;
    margin-bottom: 8rem;


    h2 {
        background: linear-gradient(180deg, #83888F 30%, #FFFFFF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3rem;
        margin: 0;
    }

    img {
        width: 12rem;
        margin: 2rem 0 0.5rem 0;
    }

    h3 {
        font-family: 'Fraunces', serif;
        font-size: 1.5rem;
        color: #333D4B;
    }

    p {
        font-family: 'Barlow', sans-serif;
        font-size: 15px;
        padding: 0 2rem;
    }

}

// === WHY CHOOSE US SECTION === //

#why-choose-us-section-outer-container {
    background-color: #21272e;
    height: 60rem;
    z-index: 1;
    border-radius: 10px;


    #why-choose-us-section {
        border-radius: 10px;
        background-color: #2C343E;
        text-align: center;
        border-radius: 10px;
        padding: 4rem 1.8rem 1rem 1.8rem;
    
        h2 {
            color: white;
            font-family: 'Fraunces', serif;
            font-size: 1.9rem;

        }
    
        #why-choose-us-headingparagraph {
            opacity: 0.8;
            font-family: 'Barlow', sans-serif;
            font-size: 15px;
            color: $paragraph-color;
            line-height: 25px;
    
        }
    }
    

}


    #best-quality-container {
        margin: -37rem auto 1.5rem auto;
        background-color: #0E8784;
        text-align: center;
        z-index: 2;
        width: 17.5rem;
        height: 20rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        

        img {
            width: 4rem;
            margin-bottom: 1.5rem;
        }

        h3 {
            color: $paragraph-color;
            font-size: 1.5rem;

        }


        p {
            font-family: 'Fraunces', serif;
            font-size: 15px;
            color: $paragraph-color;
            font-family: 'Barlow', sans-serif;
            line-height: 25px;
            padding: 0 2rem;


    
        }



    }

    #exclusive-benefits-container,
    #free-shipping-container {
        margin: 0 auto 1.5rem auto;
        border-radius: 10px;
        background-color: #0E8784;
        text-align: center;
        z-index: 2;
        width: 8rem;
        width: 17.5rem;
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;



        img {
            width: 4rem;
            margin-bottom: 1.5rem;

        }


        h3 {
            color: $paragraph-color;
            font-size: 1.5rem;
        }



        p {
            font-family: 'Fraunces', serif;
            font-size: 15px;
            color: $paragraph-color;
            font-family: 'Barlow', sans-serif;
            line-height: 25px;
            padding: 0 2rem;


    
        }
    
    }

    // === HOW IT WORKS SECTION === //

    #how-it-works-section {
        text-align: center;
        margin-top: 5rem;


        h2 {
            font-size: 1.5rem;
            color: #83888F;
            font-family: 'Fraunces', serif;

        }

        .how-it-works-headers-number {
            font-size: 4.5rem;
            font-family: 'Fraunces', serif;
            color: #FDD6BA;
            font-weight: bold;
            margin-bottom: 0;

        }

        .how-it-works-headers-text {
            font-size: 1.75rem;
            font-family: 'Fraunces', serif;
            color: #333D4B;
            font-weight: bold;
            margin-bottom: 0;

        }

        .how-it-works-paragraph-text {
            font-size: 15px;
            font-family: 'Barlow', sans-serif;
            color: #333D4B;
            font-weight: lighter;
            margin-bottom: 0;
            line-height: 25px;

        }

        #create-your-plan-button-bottom {
            border: none;
            border-radius: 6px;
            width: 13.5rem;
            height: 3.2rem;
            font-family: 'Fraunces', serif;
            color: $paragraph-color;
            font-size: 18px;
            font-weight: bold;
            background-color: $create-your-plan-button-color;
            margin: 4.5rem 0;
        }
    }

    // === FOOTER === //

    footer {
        background-color: #2C343E;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        margin-bottom: 3rem;


        #logo-footer {
            margin-bottom: 2rem;
            height: 2rem;
            width: 15rem;
            display: block;
        }

        #nav-footer {
            text-align: center;

            ul {
                list-style: none;
                padding-left: 0;


                li {
                    margin-bottom: 1.5rem;
                    font-family: 'Barlow', sans-serif;



                    a {
                        text-decoration: none;
                        letter-spacing: 0.92px;
                        color: #83888F;


                    }
                }

            }
        }

        #footer-social-media-icons-container {
            margin-top: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
        }

    }
    



}
